html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #FAFBFB;
}

.orange {
    background-color: #FF6701 !important;
    color: white !important;
}

.orange.weekend {
    background-color: #F4A682 !important;
}

.green {
    background-color: #349967 !important;
    color: white !important;
}

.green.weekend {
    background-color: #7ccea5 !important;
}

.purple {
    background-color: #6666CC !important;
    color: white !important;
}

.purple.weekend {
    background-color: #7575d0 !important;
}

.today.weekend {
    background-color: #a1d3ff !important;
}

.day-main {
    background-color: #f8f7f9;
}

.weekend {
    background-color: #e4e3e4;
}

.circle {
    position: relative;
}

.circle::after {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid;
}

.circle-blue::after {
    border-color: #87b8e9;
}
.circle-orange::after {
    border-color: #F4A682;
}