html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #FAFBFB;
}

.toovoimetus.hp-interval {
    background: #9FACD8;
}

.kodukontor.hp-interval {
    background: #FFCE20;
}

.puhkus.hp-interval {
    background: #EB7778;
}

.lahetus.hp-interval {
    background: #70CA44;
}

.koolitused.hp-interval {
    background: #22C1E3;
}

.kontor.hp-interval {
    background: #688AFF; 
}


.toovoimetus,
.kodukontor,
.puhkus,
.lahetus,
.koolitused,
.konto {
    color: white !important;
}


.orange.hp-interval {
    background-color: #FF6701 !important;
}

.orange {
    color: white !important;
}

.green.hp-interval {
    background-color: #349967 !important;
}

.green {
    color: white !important;
}

.purple.hp-interval {
    background-color: #6666CC !important;
}

.purple {
    color: white !important;
}

.today.weekend {
    /* background-color: #a1d3ff !important; */
}

.day-main {
    /* background-color: #f8f7f9; */
}

.weekend {
    color: rgb(0 0 0 / 30%) !important;
    /* background-color: #e4e3e4; */
}

.circle {
    position: relative;
}

.circle::after {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid;
}

.circle-blue::after {
    border-color: #87b8e9;
}
.circle-orange::after {
    border-color: #F4A682;
}


.public-holiday {
  height: 30px;
  border-radius: 20px;    
  color: #C52828 !important;
  background-color: rgba(255, 209, 210, 0.25);;
  color: black;
  font-weight: bold;
}



.start-of-month:before {
    content: ' ';
    border-left: 2px solid #C9CFDA;
    height: 100px;
    width: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: -60px;
}